@model UserModel
@section Title{
    <a>מסך הרשמה</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg>
}
@{
    ViewData["Title"] = "SignUp";
}
<form asp-controller="User" asp-action="SignUp" method="post">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" placeholder="Enter Last Name">
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label>BirthDate</label>
        <input type="date" class="form-control" asp-for="BirthDate" placeholder="Enter BirthDate">
        <span asp-validation-for="BirthDate"></span>
    </div>
    <div class="form-group">
        <label>UserName</label>
        <input type="text" class="form-control" asp-for="UserName" placeholder="Enter UserName">
        <span asp-validation-for="UserName"></span>
        @if (ViewBag.userExist != null)
        {
            <div>@ViewBag.error</div>
        }
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter Email address">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" asp-for="Password" placeholder="Enter Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label>Enter Again Password</label>
        <input type="password" class="form-control" asp-for="ValidationPassword" placeholder="Enter Again Password">
        <span asp-validation-for="ValidationPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    @if (TempData["User Exist"] as string == "correct")
    {
        <div class="text-danger">
            Userame Already Exist
        </div>
    }
    else if (TempData["User Exist"] as string == "incorrect")
    {
        <div>
            Success
        </div>
    }
</form>